.App {
  text-align: center;
}

.auth-header {
  font-size: 2rem;
}
.form-div {
  background: #D5F7C6;
  border-radius: 3rem;
  margin: 0 3rem;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 200px;
  }
  .auth-header {
    font-size: 1.5rem;
  }
  .form-div {
    margin: 0 2rem;
  }
}
